#virtual environment
turnover/

#trained model
develop/src/secret_config.py
develop/models/logistic.pkl

#original data
turnover.csv
train.csv

#R files
*.R
*.Rhistory
*.Rproj

.DS_Store
*.pyc

#log files
*.log

#secrets
turnover.env

# Jupyter NB Checkpoints
.ipynb_checkpoints/
.Rproj.user


.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
