#virtual environment
turnover/

#trained model
develop/models/logistic.pkl

#original data
turnover.csv
train.csv
test.csv

#PPT presentation
*.pptx

#R files
*.R
*.Rhistory
*.Rproj

#useless files
.DS_Store
*.pyc
develop/tests/.pytest_cache/

#log files
*.log

#secrets
turnover.env

# Jupyter NB Checkpoints
.ipynb_checkpoints/
.Rproj.user


.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
