turnover/

develop/src/secret_config.py
develop/models/logistic.pkl

turnover.csv
train.csv
*.Rhistory
*.Rproj

.DS_Store
*.log

.env
*.pyc

# Jupyter NB Checkpoints
.ipynb_checkpoints/
.Rproj.user


.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
