<html>
    <head>
        <title>Turnover Analysis web app</title>
    </head>
    <body>
		<div class="col-md-4 col-md-offset-4">

      	  <div align="center">
        	  <h2>Thanks for using the Turnover Analysis web app!</h2>
      	  </div>

		  <hr>

      		<div align="center">
        		<h4>The employee will quit with a probability of {{perc}}%</h4>
      	    </div>

		  <hr>

		  <div align="center">
    		  <p><a href="/"><button type="submit" class="btn btn-primary">Return home</button></p></a>
		  </div>
    </body>
</html>


