<!DOCTYPE html>
<html>
<body>

<p>Enter values in the fields, then click "Submit":</p>

<form method="POST">
  Satisfaction Level: <input name="satisfaction"><br>
  Last Evaluation: <input name="evaluation"><br>
  Number of projects: <input name="projects"><br>
  Average monthly hours: <input name="hours"><br>
  Tenure: <input name="tenure"><br>
  Work accident: <select name="accident">
                   <option>Yes</option>
                   <option>No</option>
                 </select><br>
  Promotion in the last 5 years: <select name="promotion">
                                   <option>Yes</option>
                                   <option>No</option>
                                 </select><br>
  Department: <select name="department">
                <option>Accounting</option>
                <option>HR</option>
                <option>IT</option>
                <option>Management</option>
                <option>Marketing</option>
                <option>Product management</option>
                <option>R&D</option>
                <option>Sales</option>
                <option>Support</option>
                <option>Technical</option>
              </select><br>
  Salary: <select name="salary">
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
          </select><br><br>
  <input type="submit" value="Submit">		  
</form>

</body>
</html>